<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/2d7ebfc80a.js" crossorigin="anonymous"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]   </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header style="background-color:blanchedalmond " class="header border-bottom box-shadow mb-3">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  ">
            <div class="container">


            </div>
            <a class="navbar-brand" asp-area="" asp-page="/Index"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>




            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        

                        <a id="Index" href="/">Index</a>

                    </li>
                    <li class="nav-item">
                        
                        <a id="Index" href="/venta">Ny</a>
                    </li>
                    <li class="nav-item">
                        
                        <a id="Index" href="https://localhost:44343/search?SearchString=dress">Dresses</a>
                    </li>
                    <li class="nav-item">
                        
                        <a id="Index" href="https://localhost:44343/search?SearchString=hoodie">Hoodie</a>
                    </li>
                    <li class="nav-item">
                        
                        <a id="Index" href="https://localhost:44343/search?SearchString=jacket">Jacket</a>

                        <form class="search" id="searchField" action="/search">
                            <p>
                                <i class="fas fa-search"></i><input class="search-field" type="text" name="SearchString">
                                <a href="javascript:void()" onclick="document.getElementById('searchField').submit();" style="text-decoration: none;"><i style="color: #EEEEEE;" class="fas fa-arrow-right"></i></a>
                            </p>
                        </form>


                        <a class="fas fa-user" a href="/Identity/Account/Register"></a>



                        <a class="fas fa-shopping-cart"></a>






                </ul>
            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - FreakyFashion - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>








    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>


