@page
@model FreakyFashion1.CategoryModel
@{
    ViewData["Title"] = "Category";
    Layout = "~/Areas/Admin/Pages/Shared/_Layout.cshtml";
}

<h1>Category</h1>




@foreach (var product in Model.Products)
{
    <div>
        @product.Name
    </div>
}
