@page "{id}"
@model FreakyFashion1.ProductModel
@{
    ViewData["Title"] = "Product";
}

<h1>@Model.Product.Category.Name</h1>

<p>
    @Model.Product.Category.Description
</p>

<img src="@Model.Product.Category.ImageUrl"
     alt="@Model.Product.Category.Name" />

